<!DOCTYPE html>

<html>
    <head>
         <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

<body>
    <div class="main-content">
        {{>header}}
<h1>{{helpText}}</h1>
<p>{{name}}</p>
    </div>

{{>footer}}

</body>





</html>